.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/wikipedia/english/PP
/data/wikipedia/english/PP_cleaned

# Ignore all JSON files in english folder
data/english/*.json

# Ignore everything in subfolders
data/english/**/